* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  margin: 20px;
}

.project {
  margin-top: 100px;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
  height: 70vh;
}

.board {
  margin-right: 50px;
}

.board-header {
  display: flex;
  justify-content: space-between;
}

.board-title {
  margin-right: 20px;
}

.board-btn {
  color: #000;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #000;
  box-shadow: 4px 4px 9px #3e3e3e;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.board-btn:active {
  box-shadow: none;
}

.board-list {
  margin-top: 20px;
  list-style: none;
  border: 2px solid #3e3e3e;
  max-height: 60vh;
  max-width: 60vw;
  overflow-y: scroll;
  border-radius: 3px;
}

.board-list::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

.board-list::-webkit-scrollbar-track {
  background-color: #9e9e9e;
  border-radius: 20px;
}

.board-list::-webkit-scrollbar-thumb {
  background-color: #3e3e3e;
  border: 1px solid #fff;
  border-radius: 20px;
}

.scores {
  padding: 7px;
}

.scores:nth-last-of-type(2n) {
  background-color: rgba(62, 62, 62, 0.2);
}

.add-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input-name,
.input-score {
  width: 200px;
  padding: 10px;
  outline: none;
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  box-shadow: 1px 1px 9px #3e3e3e;
}

.input-score {
  margin-top: 15px;
}

.input-name:focus,
.input-score:focus {
  border: 1px solid transparent;
}

.add-btn {
  margin-top: 15px;
  padding: 5px 10px;
  width: 100px;
  align-self: flex-end;
  color: #000;
  background-color: #fff;
  border-radius: 6px;
  outline: none;
  border: 1px solid #000;
  box-shadow: 4px 4px 9px #3e3e3e;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.add-btn:active {
  box-shadow: none;
}

.alert {
  margin: 30px;
  background-color: rgba(0, 128, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
  justify-content: space-between;
  display: none;
}

.close-alert {
  border: 1px solid rgba(62, 62, 62, 0.5);
  background-color: rgba(62, 62, 62, 0.5);
  border-radius: 300px;
  padding: 1px 5px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .project {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .board {
    margin-right: 1px;
    margin-bottom: 30px;
  }

  .add-btn {
    align-self: center;
  }
}
